<!DOCTYPE html>
<html lang="es">
<head>
  <title>Reporte Marcas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
    .container {
      max-width: 800px;
      padding-top: 100px;
    }
    p {font-size: medium; text-align: left; display:flex; flex-direction: column}
    h1 {text-align: center;}
    h3 {text-align:center; color: rgb(19, 17, 17);}
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    #encabezado{
      text-align:center;
      font-size: small;
    }
    #titulo-marcas{
      font-size: large;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1><b>Reporte de Marcas</b></h1>

    <p id="encabezado">{{company_name}}
    <br>
    {{datetime_now}}
    </p>
    <br>
   <p>Name: {{employee_first_name}} {{employee_last_name}}</p>
   <p>Email: {{employee_email}}</p>

   <br>
   <br>
   <h5 id="titulo-marcas"><b>Marcas</b></h5>

  <table>
    <caption>Tabla de Marcas</caption>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for marca in marcas %}
      <tr>
        <td>{{marca['employee'].first_name}}</td>
        <td>{{marca['location'].name}}</td>
        <td>{{marca['punch_date']}}</td>
        <td>{{marca['punch_hour']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
</body>
</html>
